#indicator{
  display: none;
  font-size: 14px;
  text-align: center;
  width: 100px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: -40px;
  margin-right: 10px;
  border-radius: 5px;
}
#message {
  display:none;
  /*margin-top:-190px;*/
  /*margin-left: 100px;*/
  /*position: fixed;*/
  /*z-index: 2000;*/
}

#message h3{
  font-size:13px;
}
#message li {
  padding: 5px 20px;
  font-size: 13px;
  list-style: none;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -15px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -15px;
  content: "✖";
}